body{
    background-color: lightgrey;

}
a{
    font-size:16px;
    color: darkblue;
}
button{
    border-radius: 10px;
    background-color:orange;
    font-size: 16px;
    padding:10px;
}

#intro{
    text-align: center;
    border-bottom: solid 5px orange;
}
#infoManoscritto{
    padding:15px;
}
#infoManoscritto h3{
    text-align:center;
    
}
#infoBibl{
    border-top: solid 2px orange;
    padding:15px;
    text-align:center;

}

.p7{
    height:810px;
    border-top: solid 5px orange;
    margin-bottom:1%;
    background-color: burlywood;

}
.p7 h3{
    text-align: center;
}

#testoP7{
    padding:10px;
    margin-right:10%;
    float:right;
    width:30%;
    font-size:13px;
}
#trad7{
    position:relative;
    font-size:22px;
}
#gloss7{

   padding:10px;
   border-top:solid 2px orange;
   margin-bottom:2%



}
#gloss7 h3{

    text-align: center;
 
 }


#notes7{
    padding:10px;

 
}
#notes7 h3{

    text-align: center;
 }


.p8{
    height: 920px;
    border-top: solid 5px orange;
    margin-bottom:1%;
    background-color: burlywood;
}

.p8 h3{
    text-align: center;
}

#testoP8{
    padding:10px;
    margin-right:3%;
    float:right;
    width:30%;
    font-size:13px;
    margin-bottom:5%;
}
#trad8{

    position:relative;
    font-size:24px;
}
#gloss8{


    padding:10px;
    border-bottom:solid 5px orange;

 
 }
#gloss8 h3{

     text-align: center;
  }
#notes8{
    padding:10px;
    border-bottom:solid 2px orange;

}
#notes8 h3{

    margin-left:48%;
 }

.piepagina{
    background-color: grey;
    text-align: center ;
    color: white;
    height:200px;
    padding:20px;

}

p#testo7{
    font-size: 18px;

}

h2{
    text-align: center;
}

html:before,
html:after,
body:before,
body:after
{
    content:"";
    background-image: url("cornice.jpg");
    position:fixed;
    z-index:5;
}

/* Bordo superiore */
html:before
{
    height:15px;
    left:0; right:0; top:0;
}
/* Bordo destro */
html:after
{
    width:7px;
    top:0; right:0; bottom:0;
}
/* Bordo inferiore */
body:before
{
    height:15px;
    right:0; bottom:0; left:0;
}
/* Bordo sinistro */
body:after{
    width:7px;
    top:0; bottom:0; left:0;
}

a#alb{
    display: none;
}
a:hover, a:active {
   font-size:20px;
  }